@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project sources for Filament and Blade components */
@layer components {
    /* custom component layers can go here */
}

:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
